.todo-details {
    flex-basis: 256px;
    padding: 1rem;
    background-color: #fff;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
